#date-input {
	padding-top: 15px;
}

input[type=checkbox] {
  transform: scale(1.6);
}

html {
  overflow-y: scroll; 
}

.config-row {
  padding: 0 !important;
  max-width: 700px;
  overflow: auto;
}

.config-row table {
  margin: 0 !important;
}

.reward-table-row {
  min-width: 120px;
  width: 120px;
  max-width: 120px;
}